/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App-header{
  font-size: 45px;
  text-align: center;
  color: rgb(86, 78, 206);
  background-color: rgb(234, 148, 255);
}
img{
   border-radius: 20px;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.show-item-image{
  width: 30%;
}
.closet-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-flow: row;
  flex-grow: 4;
  align-content: space-between;
  gap: 50px 20px;
  margin: 5rem;
}
.closet-item{
  height: 40vh;
  flex-grow: 1;
  order: 3;
  flex-basis: auto;
  flex-shrink: 3;
}

